/maiorNumero/main/build/
/main/nbproject/private/
/numeroDecrescente/main/nbproject/private/
/numeroDecrescente/main/build/
/ComparaNumero/nbproject/private/
/ComparaNumero/build/
/pessoa/nbproject/private/
/pessoa/build/
/MediaAluno/nbproject/private/